@media (min-width: 37.5em) {

	footer {
		margin: 0 auto;
		width: 100%;
		
	}
	nav {
		flex-direction: row;
	}
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-size: 16px;
		font-family: Roboto, Helvetica, sans-serif;
	}
	
	header, footer{
		background-color: white;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
	}
	
	.logox {
	  border-radius: 50%; 
	  align-items: left;
	
	}
	
	
	
	.newtext{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 60px;
		color: rgb(0, 0, 0);
		text-align: center;
	}
	
	.titlem{
		padding-top: 0.2px;
		margin: 0 auto;
		text-align: center;
		background-color: #000000;
		color: #afc5a1;
	}
	
	.b1 {
	
		text-align: center;
		font-size: 1.1m;
		margin: 30px;
	}
	
	header,
	nav, 
	footer{
		
		margin: 0 auto;
	}
	
	h1 {
		font-size: 2rem;
	}
	h2 {
		padding: .5rem;
		color: #536878;
	}
	
	p {
		padding: .5rem;
	}
	
	nav{
		background-color: #22282c;
		text-align: center;
		box-shadow: 0 0 30px #333;
		display: flex;
		flex-direction: column;
	}
	
	nav div {
		flex: 1 1 auto;
	}
	
	nav a {
		display: block;
		color: #fff;
		text-align: center;
		padding: 15px;
		text-decoration: none;
		font-size: 0.9rem;
	}
	
	nav a:hover {
		background-color: #708080;
		color: yellow;
	}
	
	footer{
		background-color: #22282c;
		text-align: center;
		box-shadow: 0 0 30px #333;
		display: flex;
		flex-direction: column;
		font-size: 10px;
	}
	
	main {
		display: grid;
		
	}
	
	
	
	.purpose {
		margin: 2rem;
		border: 1px solid #bbb;
		padding: 1rem;
		background-color: #f18b47;
	}
	
	.b4 {
	  margin: 1rem;
		padding: 1rem;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
	}
	
	
	
	.colors {
	  text-align: center;
		margin: 1rem;
		padding: 1rem;
	  max-width: 960px;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
	
	}
	
	
	main picture {
		display: none;
		margin: 0rem;
	}
	
	
	
	.location {
		text-decoration: none;
		color: #536878;
	}
	
	
	/*navigation bar */
	.topnav {
		overflow: hidden;
		background-color: #afc5a1;
	  }
	  
	  .topnav a {
		float: left;
		display: block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	  }
	  
	  .topnav a:hover {
		background-color: #a7a5a0;
		color: black;
	  }
	  
	  .topnav a.active {
		background-color: #000000;
		color: white;
	  }
	  
	
	  .topnav input[type=text] {
		float: right;
		padding: 6px;
		border: none;
		margin-top: 8px;
		margin-right: 16px;
		font-size: 17px;
	  }
	  
	  .image22{
		
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 246px;
		align-items: center;
	  }
	
	  .purpose {
		margin: 1.5rem;
		border: 1px solid #bbb;
		padding: 1rem;
		background-color: #83b4a6;
	}
	
	.titlem{
		padding: 18px 18px;
		 margin: 20px;
	   
	   }
	   
	   .titleevents{
		   padding: 20px 20px;
			margin: 20px;
			text-align: center;
	   }
	
	.pevents{
		margin: 1.5rem;
		border: 1px solid #bbb;
		padding: 1rem;
		background-color: #f3d070;
		border-radius: 20px;
	}
	
	.pevents2{
		margin: 1.5rem;
		border: 1px solid #bbb;
		padding: 1rem;
		background-color: #f3d070;
		border-radius: 20px;
	}
	
	.eventsimage{
		display: block;
		padding: 20px 200px;
		align-items: center;
	}
	
	
	
	/* CONTACT IMAGE  */
	
	.cimage{
		margin: 1.5rem;
	}
	
	
	input[type=text], select, textarea {
		width: 80%; /* Full width */
		padding: 2rm; /* Some padding */ 
		border: 1px solid #ccc; /* Gray border */
		border-radius: 4px; /* Rounded borders */
		box-sizing: border-box; /* Make sure that padding and width stays in place */
		margin-top: 6px; /* Add a top margin */
		margin-bottom: 6px; /* Bottom margin */
		resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	  }
	  
	}
	
	
	
	
	
	
